html {
  font-size: 100px;
}
body {
  padding-top: .85rem;
}
img {
  vertical-align: middle;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: #666;
}
html,
body {
  height: 100%;
  background-color: #fff;
  font-style: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
}
#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  height: .85rem;
  z-index: 999;
}
#header .top {
  display: flex;
  padding: .1rem;
  border-bottom: 1px solid #ddd;
}
#header .top .logo {
  width: .8rem;
}
#header .top .logo img {
  width: 100%;
}
#header .top form {
  flex: 1;
  padding: 0 .1rem;
  position: relative;
}
#header .top form input {
  width: 100%;
  border-radius: .2rem;
  height: .24rem;
  background-color: #f9f9f9;
  font-size: .14rem;
  padding: 0 0 0 .35rem;
  text-align: left;
  margin-bottom: 0;
}
#header .top form .fa-search {
  position: absolute;
  top: .04rem;
  left: .24rem;
  color: #c8c8c8;
}
#header .top .download {
  width: .38rem;
  height: .24rem;
  border: 1px solid #f85000;
  border-radius: 12px;
  color: #f85000;
  font-size: .14rem;
  text-align: center;
  line-height: .24rem;
}
#header .nav {
  border-bottom: 1px solid #ddd;
}
#header .nav ul {
  overflow: auto;
  white-space: nowrap;
}
#header .nav ul::-webkit-scrollbar {
  display: none;
}
#header .nav ul li {
  display: inline-block;
  padding: .1rem;
  font-size: .15rem;
}
#header .nav ul li a {
  color: #000;
  display: block;
  height: 100%;
  position: relative;
}
#header .nav ul li.active a {
  color: #f9702e;
}
#header .nav ul li.active a::before {
  content: "";
  left: 0;
  right: 0;
  height: .04rem;
  background-color: #f9702e;
  position: absolute;
  bottom: -0.1rem;
}
#footer {
  margin-top: .2rem;
  background-color: #efefef;
}
#footer .top {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  text-align: center;
  font-size: .14rem;
  height: .34rem;
  line-height: .34rem;
}
#footer .top div:nth-child(n+2) {
  border-left: 0.01rem solid #dadada;
}
#footer .content {
  padding: .15rem 0;
  font-size: .12rem;
  text-align: center;
}
#footer .content .download {
  color: #ff6c00;
}
body {
  background-color: #f7f7f7;
}
#header {
  position: fixed;
  width: 100%;
  background-color: #fe4a65;
}
#header .one {
  height: 0.44rem;
  display: flex;
  width: 100%;
}
#header .one .logo {
  display: block;
  font-size: 0.16rem;
  font-weight: bold;
  padding: 0 0.1rem;
  line-height: 0.44rem;
  color: #fff;
}
#header .one .search {
  flex: 1;
  line-height: 0.44rem;
}
#header .one .search form input {
  box-sizing: border-box;
  border-radius: 0.08rem;
  height: 0.3rem;
  font-size: 0.14rem;
  border: none;
  width: 100%;
  padding-left: 0.1rem;
}
#header .one .download {
  border: none;
  color: #fff;
  background-color: #fe4a65;
  padding: 0 0.1rem;
  line-height: 0.44rem;
  display: block;
}
#header .nav {
  background-color: #fff;
}
#main {
  padding-top: 0.1rem;
}
#main li {
  padding: 0 0.02rem;
  background-color: #fff;
  margin-bottom: 0.15rem;
  display: flex;
  flex-direction: row;
}
#main li .product-left {
  width: 1rem;
  height: 1.2rem;
  margin: 0 0.05rem;
}
#main li .product-left img {
  width: 100%;
}
#main li .product-right {
  height: 1.2rem;
}
#main li .product-right .mui-ellipsis {
  font-size: 0.16rem;
  color: black;
  font-weight: bold;
  margin-bottom: 0.05rem;
  white-space: normal;
}
#main li .product-right .price {
  color: #ee0000;
  font-size: 0.18rem;
  margin: .05rem;
  height: .2rem;
}
#main li .product-right .price i {
  margin-right: 0.1rem;
}
#main li .product-right .price del {
  margin: 0 0.1rem;
  font-size: 0.16rem;
  color: #888;
}
#main li .product-right .discounts {
  font-size: 0.14rem;
  color: #ee0000;
  margin-bottom: 0.05rem;
}
#main li .product-right .discounts .bar {
  margin-bottom: 0.05rem;
}
#main li .product-right .discounts .bar i {
  display: inline-block;
  width: 1rem;
  height: 0.14rem;
  border: 1px solid #ee0000;
  position: relative;
  border-radius: .12rem;
  margin-right: .05rem;
}
#main li .product-right .discounts .bar i em {
  display: block;
  background-color: #ee0000;
  height: 100%;
  border-radius: .1rem;
}
#main li .product-right .discounts .bar i span {
  font-size: .12rem;
  line-height: .12rem;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
#main li .product-right .num {
  display: flex;
  justify-content: space-between;
  font-size: 0.12rem;
  bottom: .05rem;
}
#main li .product-right .num a:nth-child(1) {
  display: block;
  border: 0.01rem solid #ee0000;
  background-color: #fff;
  color: #ee0000;
}
#main li .product-right .num a:nth-child(2) {
  position: absolute;
  right: 0.1rem;
  display: block;
  background-color: #ee0000;
  color: #fff;
  border: 1px solid #ee0000;
  border-radius: 0.02rem;
}
.back .fa-arrow-circle-up {
  font-size: .55rem;
  bottom: .5rem;
  right: .2rem;
  color: #fe4a65;
  position: fixed;
}
