html {
  font-size: 100px;
}
body {
  padding-top: .85rem;
}
img {
  vertical-align: middle;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: #666;
}
html,
body {
  height: 100%;
  background-color: #fff;
  font-style: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
}
#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  height: .85rem;
  z-index: 999;
}
#header .top {
  display: flex;
  padding: .1rem;
  border-bottom: 1px solid #ddd;
}
#header .top .logo {
  width: .8rem;
}
#header .top .logo img {
  width: 100%;
}
#header .top form {
  flex: 1;
  padding: 0 .1rem;
  position: relative;
}
#header .top form input {
  width: 100%;
  border-radius: .2rem;
  height: .24rem;
  background-color: #f9f9f9;
  font-size: .14rem;
  padding: 0 0 0 .35rem;
  text-align: left;
  margin-bottom: 0;
}
#header .top form .fa-search {
  position: absolute;
  top: .04rem;
  left: .24rem;
  color: #c8c8c8;
}
#header .top .download {
  width: .38rem;
  height: .24rem;
  border: 1px solid #f85000;
  border-radius: 12px;
  color: #f85000;
  font-size: .14rem;
  text-align: center;
  line-height: .24rem;
}
#header .nav {
  border-bottom: 1px solid #ddd;
}
#header .nav ul {
  overflow: auto;
  white-space: nowrap;
}
#header .nav ul::-webkit-scrollbar {
  display: none;
}
#header .nav ul li {
  display: inline-block;
  padding: .1rem;
  font-size: .15rem;
}
#header .nav ul li a {
  color: #000;
  display: block;
  height: 100%;
  position: relative;
}
#header .nav ul li.active a {
  color: #f9702e;
}
#header .nav ul li.active a::before {
  content: "";
  left: 0;
  right: 0;
  height: .04rem;
  background-color: #f9702e;
  position: absolute;
  bottom: -0.1rem;
}
#footer {
  margin-top: .2rem;
  background-color: #efefef;
}
#footer .top {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  text-align: center;
  font-size: .14rem;
  height: .34rem;
  line-height: .34rem;
}
#footer .top div:nth-child(n+2) {
  border-left: 0.01rem solid #dadada;
}
#footer .content {
  padding: .15rem 0;
  font-size: .12rem;
  text-align: center;
}
#footer .content .download {
  color: #ff6c00;
}
body {
  padding-top: .45rem;
}
a:active {
  color: #fff;
}
#header {
  height: .45rem;
  display: flex;
  background-color: #f4483e;
}
#header .back {
  display: block;
  width: .5rem;
  height: .45rem;
  text-align: center;
}
#header .back .fa-angle-left {
  font-size: .35rem;
  color: #fff;
  line-height: .45rem;
}
#header h4 {
  flex: 1;
  text-align: center;
  line-height: .45rem;
  margin: 0;
  color: #fff;
}
#header .download-app {
  padding: 0 .08rem;
  line-height: .45rem;
}
#header .download-app img {
  width: .34rem;
  height: .34rem;
}
#main .hint {
  font-size: .12rem;
  color: #999;
  text-align: center;
  padding: .05rem 0;
}
#main .product-list {
  background-color: #fff;
  padding: .05rem;
}
#main .product-list .product {
  display: flex;
  padding: .1rem 0;
  border-bottom: .01rem solid #ccc;
}
#main .product-list .product img {
  margin-right: .1rem;
  width: 1rem;
  height: 1rem;
}
#main .product-list .product .product-intro {
  position: relative;
  padding-right: .15rem;
  flex: 1;
}
#main .product-list .product .product-intro p {
  color: #333;
  margin-bottom: .05rem;
  font-size: .12rem;
}
#main .product-list .product .product-intro p.product-limited {
  font-size: .14rem;
  color: orange;
}
#main .product-list .product .product-intro .fa-angle-right {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: .3rem;
  color: #ccc;
}
.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}
.mask .fa-times-circle {
  font-size: .4rem;
  position: absolute;
  top: .8rem;
  color: #fff;
  right: .3rem;
  z-index: 1;
}
.mask #slide {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
