html {
  font-size: 100px;
}
body {
  padding-top: .85rem;
}
img {
  vertical-align: middle;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: #666;
}
html,
body {
  height: 100%;
  background-color: #fff;
  font-style: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
}
#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  height: .85rem;
  z-index: 999;
}
#header .top {
  display: flex;
  padding: .1rem;
  border-bottom: 1px solid #ddd;
}
#header .top .logo {
  width: .8rem;
}
#header .top .logo img {
  width: 100%;
}
#header .top form {
  flex: 1;
  padding: 0 .1rem;
  position: relative;
}
#header .top form input {
  width: 100%;
  border-radius: .2rem;
  height: .24rem;
  background-color: #f9f9f9;
  font-size: .14rem;
  padding: 0 0 0 .35rem;
  text-align: left;
  margin-bottom: 0;
}
#header .top form .fa-search {
  position: absolute;
  top: .04rem;
  left: .24rem;
  color: #c8c8c8;
}
#header .top .download {
  width: .38rem;
  height: .24rem;
  border: 1px solid #f85000;
  border-radius: 12px;
  color: #f85000;
  font-size: .14rem;
  text-align: center;
  line-height: .24rem;
}
#header .nav {
  border-bottom: 1px solid #ddd;
}
#header .nav ul {
  overflow: auto;
  white-space: nowrap;
}
#header .nav ul::-webkit-scrollbar {
  display: none;
}
#header .nav ul li {
  display: inline-block;
  padding: .1rem;
  font-size: .15rem;
}
#header .nav ul li a {
  color: #000;
  display: block;
  height: 100%;
  position: relative;
}
#header .nav ul li.active a {
  color: #f9702e;
}
#header .nav ul li.active a::before {
  content: "";
  left: 0;
  right: 0;
  height: .04rem;
  background-color: #f9702e;
  position: absolute;
  bottom: -0.1rem;
}
#footer {
  margin-top: .2rem;
  background-color: #efefef;
}
#footer .top {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  text-align: center;
  font-size: .14rem;
  height: .34rem;
  line-height: .34rem;
}
#footer .top div:nth-child(n+2) {
  border-left: 0.01rem solid #dadada;
}
#footer .content {
  padding: .15rem 0;
  font-size: .12rem;
  text-align: center;
}
#footer .content .download {
  color: #ff6c00;
}
/* 主体部分样式 */
body {
  padding: 0;
}
.mui-scroll {
  min-height: 101%;
  height: auto;
  position: relative;
  background-color: #fff;
}
.mui-scroll #nav {
  width: 100%;
  height: auto;
  background-color: #fff !important;
  z-index: 999;
  opacity: 1;
}
.mui-scroll #nav p {
  padding: 0.1rem;
}
.mui-scroll #nav h4 {
  margin: 0;
  padding: .1rem 0;
  text-align: center;
}
.mui-scroll #nav button {
  margin: .05rem;
}
#main {
  background-color: #fff;
  padding-top: .85rem;
}
#main .mui-row {
  background-color: #faf4f4;
}
#main .mui-row > div {
  text-align: center;
  padding: .1rem 0;
}
#main .mui-row > div.left {
  text-align: left;
  padding-left: .05rem;
}
#main .mui-row > div.left span {
  padding: .06rem 0;
}
#main .mui-row > div.right {
  padding: .05rem 0;
}
#main .mui-row > div.right button {
  border-radius: .05rem;
  margin-right: -25px;
  padding: .05rem;
  background-color: #faf4f4;
}
#main .mui-table-view::before,
#main .mui-table-view::after {
  border: 0;
  height: 0;
}
#main .mui-table-view li a {
  display: flex;
}
#main .mui-table-view li .title {
  color: black;
  word-break: break-all;
  font-size: 15px;
  line-height: 28px;
  height: 56px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#main .mui-table-view li .price {
  color: #ed0000;
  font-size: .18rem;
}
#main .mui-table-view li .other {
  margin-top: .04rem;
  font-size: .12rem;
}
#main .mui-table-view li img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: .1rem;
}
#main #page {
  background-color: #f2f2f2;
  padding: .1rem 0;
}
#main #about {
  padding-left: .05rem;
  background-color: #f2f2f2;
}
#main #about h4 {
  margin: 0;
  font-weight: normal;
}
#main #about p {
  margin: 0;
  padding: .1rem 0;
}
.bt {
  border-top: 1px solid #c4c4c4;
}
.bb {
  border-bottom: 1px solid #c4c4c4;
}
.bl {
  border-left: 1px solid #c4c4c4;
}
.br {
  border-right: 1px solid #c4c4c4;
}
#footer {
  margin: 0;
}
#goTop {
  position: fixed;
  bottom: 0.1rem;
  right: .1rem;
  width: 0.44rem;
  height: 0.44rem;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('../images/icon_bar.png');
  background-size: 220px 132px;
  background-position: -132px 0px;
}
