html {
  font-size: 100px;
}
body {
  padding-top: 0.85rem;
}
img {
  vertical-align: middle;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: #666;
}
html,
body {
  height: 100%;
  background-color: #fff;
  font-style: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
}
#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 0.85rem;
  z-index: 999;
}
#header .top {
  display: flex;
  padding: 0.1rem;
  border-bottom: 1px solid #ddd;
  height: 0.45rem;
}
#header .top .logo {
  width: 0.8rem;
}
#header .top .logo img {
  width: 100%;
}
#header .top form {
  flex: 1;
  padding: 0 0.1rem;
  position: relative;
}
#header .top form input {
  width: 100%;
  border-radius: 0.2rem;
  height: 0.24rem;
  background-color: #f9f9f9;
  font-size: 0.14rem;
  padding: 0 0 0 0.35rem;
  text-align: left;
  margin-bottom: 0;
}
#header .top form .fa-search {
  position: absolute;
  top: 0.04rem;
  left: 0.24rem;
  color: #c8c8c8;
}
#header .top .download {
  width: 0.38rem;
  height: 0.24rem;
  border: 1px solid #f85000;
  border-radius: 12px;
  color: #f85000;
  font-size: 0.14rem;
  text-align: center;
  line-height: 0.24rem;
}
#header .nav {
  border-bottom: 1px solid #ddd;
  height: 0.4rem;
}
#header .nav ul {
  overflow: auto;
  white-space: nowrap;
}
#header .nav ul::-webkit-scrollbar {
  display: none;
}
#header .nav ul li {
  display: inline-block;
  padding: 0.1rem;
  font-size: 0.15rem;
}
#header .nav ul li a {
  color: #000;
  display: block;
  height: 100%;
  position: relative;
}
#header .nav ul li.active a {
  color: #f9702e;
}
#header .nav ul li.active a::before {
  content: "";
  left: 0;
  right: 0;
  height: 0.04rem;
  background-color: #f9702e;
  position: absolute;
  bottom: -0.1rem;
}
#footer {
  margin-top: 0.2rem;
  background-color: #efefef;
}
#footer .top {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  text-align: center;
  font-size: 0.14rem;
  height: 0.34rem;
  line-height: 0.34rem;
}
#footer .top div:nth-child(n+2) {
  border-left: 0.01rem solid #dadada;
}
#footer .content {
  padding: 0.15rem 0;
  font-size: 0.12rem;
  text-align: center;
}
#footer .content .download {
  color: #ff6c00;
}

.navbar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  position: fixed;
  top: 0.7rem;
  left: 0.1rem;
  z-index: 9999;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}
.navbar a {
  display: block;
}
.navbar img {
  width: 100%;
}
.navbar.click {
  background-color: rgba(0, 0, 0, 0.6);
}
.navbar .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -30px;
  left: -30px;
  border: 35px solid transparent;
  cursor: default;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 1.4s 0.07s;
  z-index: -1;
}
.navbar.click .menu {
  transition: transform 0.4s 0.08s;
  transform: scale(1);
}
.navbar .menu li {
  position: absolute;
  top: -40px;
  left: -40px;
  transform-origin: 50px 50px;
  transition: all 0.5s 0.1s;
}
.navbar .menu li a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
}
.navbar.click .menu li:nth-child(1) {
  transition-delay: 0.02s;
  transform: rotate(85deg);
}
.navbar.click .menu li:nth-child(1) a {
  transition-delay: 0.04s;
  transform: rotate(635deg);
}
.navbar.click .menu li:nth-child(2) {
  transition-delay: 0.04s;
  transform: rotate(125deg);
}
.navbar.click .menu li:nth-child(2) a {
  transition-delay: 0.08s;
  transform: rotate(595deg);
}
.navbar.click .menu li:nth-child(3) {
  transition-delay: 0.06s;
  transform: rotate(165deg);
}
.navbar.click .menu li:nth-child(3) a {
  transition-delay: 0.12s;
  transform: rotate(555deg);
}
.navbar.click .menu li:nth-child(4) {
  transition-delay: 0.08s;
  transform: rotate(205deg);
}
.navbar.click .menu li:nth-child(4) a {
  transition-delay: 0.16s;
  transform: rotate(515deg);
}
.navbar.click .menu li:nth-child(5) {
  transition-delay: 0.1s;
  transform: rotate(245deg);
}
.navbar.click .menu li:nth-child(5) a {
  transition-delay: 0.2s;
  transform: rotate(475deg);
}
.navbar.click .menu li:nth-child(6) {
  transition-delay: 0.12s;
  transform: rotate(285deg);
}
.navbar.click .menu li:nth-child(6) a {
  transition-delay: 0.24s;
  transform: rotate(435deg);
}
.navbar.click .menu li:nth-child(7) {
  transition-delay: 0.14s;
  transform: rotate(325deg);
}
.navbar.click .menu li:nth-child(7) a {
  transition-delay: 0.28s;
  transform: rotate(395deg);
}
.navbar.click .menu li:nth-child(8) {
  transition-delay: 0.16s;
  transform: rotate(365deg);
}
.navbar.click .menu li:nth-child(8) a {
  transition-delay: 0.32s;
  transform: rotate(355deg);
}
.navbar.click .menu li:nth-child(9) {
  transition-delay: 0.18s;
  transform: rotate(405deg);
}
.navbar.click .menu li:nth-child(9) a {
  transition-delay: 0.36s;
  transform: rotate(315deg);
}

/* 主体部分样式 */
body {
  padding: 0;
}
.mui-scroll {
  min-height: 101%;
  height: auto;
  position: relative;
  background-color: #fff;
}
.mui-scroll #nav {
  width: 100%;
  height: auto;
  background-color: #fff !important;
  z-index: 999;
  opacity: 1;
}
.mui-scroll #nav p {
  padding: 0.1rem;
}
.mui-scroll #nav h4 {
  margin: 0;
  padding: 0.1rem 0;
  text-align: center;
}
.mui-scroll #nav button {
  margin: 0.05rem;
}
#main {
  background-color: #fff;
  padding-top: 0.85rem;
}
#main .mui-row {
  background-color: #faf4f4;
}
#main .mui-row > div {
  text-align: center;
  padding: 0.1rem 0;
}
#main .mui-row > div.left {
  text-align: left;

  padding-left: 0.05rem;
  display: flex;
  padding-left: .05rem;
}
#main .mui-row > div.left span {
  padding: 0.06rem 0;
}
#main .mui-row > div.right {
  padding: 0.05rem 0;
}
#main .mui-row > div.right button {
  border-radius: 0.05rem;
  margin-right: -25px;
  padding: 0.05rem;
  background-color: #faf4f4;
}
#main .mui-table-view::before,
#main .mui-table-view::after {
  border: 0;
  height: 0;
}
#main .mui-table-view li a {
  display: flex;
}
#main .mui-table-view li .title {
  color: black;
  word-break: break-all;
  font-size: 15px;
  line-height: 28px;
  height: 56px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#main .mui-table-view li .price {
  color: #ed0000;
  font-size: 0.18rem;
}
#main .mui-table-view li .other {
  margin-top: 0.04rem;
  font-size: 0.12rem;
}
#main .mui-table-view li img {

  max-width: 1.6rem;
  max-height: 1rem;
  margin-right: 0.1rem;

  width: 1.2rem;
  height: 1.2rem;
  margin-right: .1rem;
}
#main #page {
  background-color: #f2f2f2;
  padding: 0.1rem 0;
}
#main #about {
  padding-left: 0.05rem;
  background-color: #f2f2f2;
}
#main #about h4 {
  margin: 0;
  font-weight: normal;
}
#main #about p {
  margin: 0;
  padding: 0.1rem 0;
}
.bt {
  border-top: 1px solid #c4c4c4;
}
.bb {
  border-bottom: 1px solid #c4c4c4;
}
.bl {
  border-left: 1px solid #c4c4c4;
}
.br {
  border-right: 1px solid #c4c4c4;
}
#footer {
  margin: 0;
}
#goTop {
  position: fixed;
  z-index: 999;
  bottom: 0.1rem;
  right: 0.1rem;
  width: 0.44rem;
  height: 0.44rem;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('/images/icon_bar.png');
  background-size: 220px 132px;
  background-position: -132px 0px;
}
